$base_color_blue: #1664A9;
$font_color_white: aliceblue;

@font-face {
    font-family: "SII-regular";
    src: url("./fonts/Founders_Grotesk/FoundersGrotesk-Regular.otf");
}

@font-face {
    font-family: "SII-bold";
    src: url("./fonts/Founders_Grotesk/FoundersGrotesk-Bold.otf");
}